
body {
    font-family: Verdana, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}

.cta{
  color: Aquamarine;
  font-size: 16px;
}

video {
    object-fit: contain;
}

a:{
  cursor: pointer;
  text-decoration: underline;
}

h2 {
    font-size: 42px;
    display: block;
    font-weight: bold;
}

h1 {
    font-size: 50px;
    display: block;
    font-weight: bold;
}


p {
    color: Gray;
    font-size: 21px;
}

.footer {
    text-align: right;
}
